



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 280px) {
  .grid {
    width: 100%;
  display: block;
  }

}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
